<div class="subscribe">
    <form id="add-item-form" [formGroup]="subscribeFormGroup" (ngSubmit)="onSubscribeSubmit()">
        <p>
            <input placeholder="userName" formControlName="userName" id="user-name" autocomplete="off">

        </p>
        <p>
            <input placeholder="firstName" formControlName="firstName" id="first-name" autocomplete="off">

        </p>
        <p>
            <input placeholder="lastName" formControlName="lastName" id="last-name" autocomplete="off">

        </p>
        <p>
            <input placeholder="phone" formControlName="phone" id="phone" autocomplete="off">
        </p>

        <button mat-raised-button [disabled]="!subscribeFormGroup.valid">Submit</button>
    </form>
</div>