<div class="nav">
    <div class="logo">
        <a href="#">My Program</a>
    </div>
    <ul>
        <li><a routerLink="/subscribe">Sign up</a></li>
        <li><a href="#">Log in</a></li>
    </ul>
</div>